.tab {
  border-left: 1px solid var(--mantine-color-default-border);
  border-right: 1px solid var(--mantine-color-default-border);
  -webkit-app-region: no-drag;
  max-width: 220px;
  &[data-active] {
    background-color: var(--mantine-color-default-hover);
  }
}

.headerActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 39px;
}

.list {
  -webkit-app-region: drag;
  flex-wrap: nowrap;
  flex: 1;
  align-self: stretch;
  background-color: var(--mantine-color-body);
}

.headerActionIcon {
  -webkit-app-region: no-drag;
  height: 40px;
  width: 40px;
  background-color: var(--mantine-color-body);
  &:hover {
    background-color: var(--mantine-color-default-hover);
  }
}

.tabsRoot {
  flex: 1;
  min-width: 0;
}

.listDarwinWindowed {
  padding-inline-start: 78px;
}

.listDefaultPadding {
  padding-inline-end: 138px;
}
